@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --fallback-n: hsl(var(--foreground));
    --fallback-nc: hsl(var(--background));

    --light: 0 0% 100%;
    --dark: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  :root {
    @apply bg-background text-foreground;
  }
}

:root .prose {
  --tw-prose-body: hsl(var(--foreground) / 0.8);
  --tw-prose-headings: theme(colors.foreground);
  --tw-prose-lead: theme(colors.foreground);
  --tw-prose-links: theme(colors.foreground);
  --tw-prose-bold: theme(colors.foreground);
  --tw-prose-counters: theme(colors.foreground);
  --tw-prose-bullets: theme(colors.foreground/0.5);
  --tw-prose-hr: theme(colors.foreground/0.2);
  --tw-prose-quotes: theme(colors.foreground);
  --tw-prose-quote-borders: theme(colors.foreground/0.2);
  --tw-prose-captions: theme(colors.foreground/0.5);
  --tw-prose-code: theme(colors.foreground);
  --tw-prose-pre-code: theme(colors.foreground);
  --tw-prose-pre-bg: theme(colors.background);
  --tw-prose-th-borders: theme(colors.foreground/0.5);
  --tw-prose-td-borders: theme(colors.foreground/0.2);
}
.prose {
  & :where(code):not(:where([class~='not-prose'] *, pre *)) {
    padding: 1px 8px;
    border-radius: var(--rounded-badge);
    font-weight: initial;
    background-color: theme(colors.foreground/0.1);
    @supports not (color: oklch(0 0 0)) {
      background-color: theme(colors.background);
    }
  }
  &
    :where(code):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    )::before,
  &
    :where(code):not(
      :where([class~='not-prose'], [class~='not-prose'] *)
    )::after {
    display: none;
  }
  pre {
    code {
      border-radius: 0;
      padding: 0;
    }
  }
  & :where(tbody tr, thead):not(:where([class~='not-prose'] *)) {
    border-bottom-color: theme(colors.foreground/0.2);
  }
}

.grained:after {
  content: '';
  display: block;
  background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/3000px
      3000px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 40% 40%/3000px
      3000px;
  background-blend-mode: difference;
  position: absolute;
  inset: 0;
  opacity: 0.06;
  z-index: 99999;
  pointer-events: none;
}
